# IDE
.idea

# libs
node_modules/
.npm
npm-debug.log*
package-lock.json
.yarn-integrity
yarn-debug.log*
yarn-error.log*

# logs
logs
*.log

# TypeScript
typings/
*.tsbuildinfo
.vscode/settings.json

# npm keys
.npmrc
dist/*
.DS_Store
storybook-static/*

# cypress
cypress/screenshots
cypress/downloads

# test-coverage
.nyc_output
coverage
