@import '../src/scss/main.scss';

.sb-story {
  padding: 20px;

  .vl-modal {
    > dialog {
      position: sticky;
      transform: none;
    }
  }
}

.vl-modal-backdrop {
  display: none;
}

// Skip showing de default story a second time because an editor with duplicate id's will break
#stories + #anchor--dumb-components-editor--default {
  display: none;
}
