/**
  This file is used to override @govflanders/vl-ui-design-system-style (Webuniversum styling)
  Make sure to define the variables you want to overwrite BEFORE importing the scss files
  Make sure to define the specific styles you want to overwrite AFTER importing the scss files
**/

/**
------------------------------
 Start override sass variables
------------------------------
**/

// Colors
$vl-action-color: $primary-color;
$vl-action-hover-color: $dark-purple;
$vl-action-active-color: darken($primary-color, 10);

$vl-input-hover-background-color: rgba($primary-color, 0.1) !default;
$vl-input-hover-border-color: rgba($primary-color, 0.65) !default;

$vl-error-color: $alert-color;

// Fonts
$vl-font-location: '@govflanders/vl-ui-design-system-style/assets/font/flanders/';
$vl-icon-font-location: '@govflanders/vl-ui-design-system-style/assets/font/iconfont/';

/**
----------------------------
 End override sass variables
----------------------------
**/

// Import core and custom component styling
@import '@govflanders/vl-ui-core/src/scss/core';
@import '@govflanders/vl-ui-autocomplete/src/scss/autocomplete';

@import '@govflanders/vl-ui-design-system-style/scss';
/**
-------------------------------
 Start override specific styles
-------------------------------
**/

// vl-button
.vl-button {
  cursor: pointer;
}

//vl-pill
.vl-pill {
  cursor: pointer;
  color: $primary-color;
}

// vl-link
.vl-link {
  color: $link-color;

  &:hover,
  &:focus,
  &:active {
    color: $link-color;
  }
}

// vl-multiselect
.vl-multiselect {
  flex: 1;

  .multiselect__element {
    &:hover {
      .multiselect__option {
        box-shadow: none;
      }
    }
  }

  .multiselect__tags {
    padding-top: 0;
    display: flex;
    align-items: center;

    .multiselect__single {
      margin-bottom: 0;
      padding-top: 0;
    }
  }
}

// vl-dropdown-navigation
.vl-dropdown-navigation .vl-popover.js-vl-popover--open .vl-dropdown-navigation__toggle,
.vl-dropdown-navigation .vl-popover.js-vl-popover--open .vl-popover__toggle {
  color: $white;
  background-color: $primary-color;
}

.vl-dropdown-navigation .vl-popover__toggle {
  background-color: $gray !important;
  color: $primary-color;
}

// vl-tabs
.vl-tabs {
  .vl-tab {
    color: $mid-purple;
    outline: none;

    &--active {
      &:visited {
        color: $black;
      }
    }
  }
}

// vl-backdrop
.vl-backdrop--active {
  z-index: 999;
}

// flatpickr - year input color
.flatpickr-current-month input.cur-year {
  color: $primary-color;
}

// flatpickr - today indication
.flatpickr-calendar.mark-today .flatpickr-day.today:not(.selected) {
  background-color: $gray;
}

.vl-u-spacer-right--xxsmall {
  margin-right: 0.5rem;
}

//ol variables
:root,
:host {
  --ol-foreground-color: #{$vl-action-hover-color};
  --ol-subtle-foreground-color: #{$vl-action-color};
  --ol-hover-border-color: #{$vl-input-hover-border-color};
}

/**
-------------------------------
 End override specific styles
-------------------------------
**/
