.ag-grid-vue {
  &.ag-theme-balham {
    -webkit-font-smoothing: antialiased;
    background-color: $white;
    color: $jet;
    font-weight: 400;
    font-size: 14px;
    line-height: normal;

    * {
      font-family: 'Flanders Art Sans', Arial, sans-serif;
    }
  }

  .ag-full-width-container {
    .ag-full-width-row {
      position: absolute;
      z-index: -1;

      .group-row {
        position: relative;
        z-index: -1;
        padding-left: 35px;
        background-color: $silver;
        box-sizing: border-box;
        height: 100%;
        white-space: normal;
      }
    }
  }

  .cell-spacing {
    margin: 0 1rem;
  }

  .cell-renderer-acties {
    width: 100%;
  }

  .ag-row {
    z-index: 0;

    &.ag-row-focus {
      z-index: 1;
    }

    &.ag-row-warning {
      background-color: #fceddd !important;

      .ag-cell {
        color: red;

        &[col-id='id']::before {
          font-family: FontAwesome;
          content: '\f06a';
          margin-right: 5px;
        }
      }
    }
  }

  // Override min-height for rows to ensure consistent row height and prevent whitespace using domLayout 'autoHeight'
  // Ensure minimum height for center columns to align with header when no rows are present
  .ag-center-cols-container,
  .ag-center-cols-viewport {
    min-height: 40px !important;
  }

  // Override padding for overlay wrapper to center messages properly when no rows are present
  .ag-overlay-wrapper {
    padding-top: 0 !important;
  }
}
