/**
  This file is used to override @govflanders/vl-ui-design-system-style (Webuniversum styling)
  Make sure to define the variables you want to overwrite before importing the scss files.
**/

$vl-action-color: $primary-color;
$vl-action-hover-color: $dark-purple;
$vl-action-active-color: darken($primary-color, 10);

@import '@govflanders/vl-ui-design-system-style/scss';
