@font-face {
  font-family: 'Flanders Art Sans';
  src:
    url('/node_modules/pyoes/fonts/FlandersArtSans-Light.ttf') format('truetype'),
    url('/node_modules/pyoes/fonts/FlandersArtSans-Light.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Flanders Art Sans';
  src:
    url('/node_modules/pyoes/fonts/FlandersArtSans-Regular.ttf') format('truetype'),
    url('/node_modules/pyoes/fonts/FlandersArtSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Flanders Art Sans';
  src:
    url('/node_modules/pyoes/fonts/FlandersArtSans-Medium.ttf') format('truetype'),
    url('/node_modules/pyoes/fonts/FlandersArtSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Flanders Art Sans';
  src:
    url('/node_modules/pyoes/fonts/FlandersArtSans-Bold.ttf') format('truetype'),
    url('/node_modules/pyoes/fonts/FlandersArtSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
