@import '@OnroerendErfgoed/pyoes/scss/base-variables';

// Override Webuniversum variables
@import 'override-variables';

// Override Webuniversum fonts
@import 'override-fonts';

// Override Ag-Grid styles
@import 'override-ag-grid';
